<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="addon" label="-1" help="-1">
    <category id="main" label="32001" help="-1">
      <group id="1" label="-1">
        <setting id="hide_protected" type="boolean" label="32002">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="debug" type="boolean" label="32003">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="hide_duplicate" type="boolean" label="32004">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="mark_new" type="boolean" label="32005">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="http_discovery" type="boolean" label="32006">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
      </group>
    </category>
  </section>
</settings>
