<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <!-- General -->
  <category label="32001">
    <setting id="hide_protected" type="bool" label="32002" default="true" />
    <setting id="debug" type="bool" label="32003" default="false" />
    <setting id="hide_duplicate" type="bool" label="32004" default="true" />
    <setting id="mark_new" type="bool" label="32005" default="true" />
  </category>

</settings>
